/* get rid of extra margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: contain;
    display: block;
    height: 55px;
}

:root {
    /* main colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --dark-dark-cyan: hsl(179, 100%, 13%);

    /* font-weight */
    --font-weight-regular-lexend:400;
    --font-weight-bold-soulders: 700;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
}

p {
    font-size: 17px;
}

.img-container {
    height: 180px;
}

.card-container {
    align-self: center;
    display: flex;

    /* -- no need property -- /
    /* -- width: 900px; --  */

    height: 650px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 55px;
    width: 330px;
}

.text-container {
    height: 217px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.button-container {
    padding: 14px;
    align-self: flex-start;
    width: 217px;
    padding: 20px 0 0 0;
}

.main-button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #fff;
    color: var(--bright-orange);
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all .22s ease-in-out;
}

.main-button:hover {
    transform: scale(1.16);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-container .card-2 .main-button {
    color: var(--dark-cyan);
}

.card-container .card-3 .main-button {
    color: var(--dark-dark-cyan);
}

.card-container .card-1 {
    border-radius: 18px 0 0 18px;
    background-color: var(--bright-orange);
}

.card-container .card-3 {
    border-radius: 0 18px 18px 0;
    background-color: var(--dark-dark-cyan);
}

.card-container .card-2 {
    background-color: var(--dark-cyan);
}

/* media queries css */
/* below 1080px */
@media (max-width: 1045px) and (orientation: portrait) {
    .card-container {
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .card-container .card-1 {
        border-radius: 18px 18px 0 0;
    }

    .card-container .card-3 {
        border-radius: 0 0 18px 18px;
    }
}

/* applied when landscape orientation mobile device's turned on */
@media (max-width: 850px) and (orientation: landscape) {
    .img-container {
        height: 80px;
    }

    .card-container {
        flex-direction: row;
        margin-top: 18em;
        margin-left: 17.05px;
    }

    .button-container .main-button {
        padding: 13px 26px;
    }

    .card {
        width: 258.99px;
        padding: 45px;
        gap: 3em;
        border-radius: none;
    }

    .card h1 {
        font-size: 24.95px;
    }

    .card p {
        font-size: 13.95px;
    }
}

